/* border: 5px solid red; */
body{
    font-family: "Roboto", sans-serif;
    margin: 0px;
    padding: 0px;
}
.ToPos{
    position:sticky;
    top:0;
}
.top{
    background-color: #007765;
    height: 84px;
    display: flex;
}
.mlogo{
    display: inline-block;
    margin: 20px 0px 19px 56px;
    height: 45px;
    width: 184px;
}
.links{
    margin: 29px 54px 26px auto;
}
.links a{
    color: white;
    font-size: 24px;
    font-weight: 500;
    width: auto;
    text-decoration:none;
    padding: 0px 8px;
}
.links a:hover{
    text-decoration: underline;
}
.links span{
    color: white;
    font-weight: 500;
    font-size: 24px;
    height: 29px;
    width: 7px;
}
main{
    display: block;
}
.FBack{
    background-image:url("img/First.png") ;
    background-position: center;
    background-size: cover ;
    height: 403px;
    width: 100%;
}
.FBack h1{
    color: white;
    font-size: 72px;
    font-weight: 500;
    width: 1219px ;
    padding:  160px 0px;
    text-align: center;
    margin: 0px auto ;
}
.SBack{
    background-image:url("img/Second.png") ;
    background-position: center;
    background-size: cover ;
    height: 483px;
    width: 100%;
}
.SBack p{
    color: white;
    font-size: 48px;
    font-weight: 500;
    width: 893px ;
    padding:  128px 0px 127px;
    text-align: center;
    margin: 0px auto ;
}
.FText{
    background-color: #EEEEEE;  
}
.FTittle, .STittle, .TTittle{
    padding: 48px 0px 8px;
    text-align: center;
}
.FDescr{
    padding: 8px 55px 92px;
    width: 1110px ;
    margin: 0px auto ;
}
.SFDescr{
    padding: 8px 55px 20px;
    margin: 0px auto ;
    width: 1110px ;
}
.SFDescr p{
    padding-left:24px;
    width: 930px ;
    display: inline-block;
}
.logo{
    display: inline-block;
    padding-right: 24px ;
    height: 115px;
    width: 115px;   
}
.SSDescr{
    padding: 20px 55px 92px;
    width: 1110px ;
    margin: 0px auto ;
}
h2{
    color: #007765;
    font-size: 64px;
    font-weight: 500;   
}
h1, h2, h3{
    margin: 0px;
    padding: 0px; 
}
p{
    font-size: 32px;
    font-weight: normal;
    margin: 0px;
    padding: 0px;    
}
.footer{
    background-color: #333333;
    height: 176px;
    display: block;
}
.footer p{
    color:white;
    font-size: 18px;
    font-weight: normal;
    width: 540px;
    padding: 50px 0px 62px;
    margin: 0px auto ;
    text-align: center;
}
.TText{
    background-color:#EEEEEE ;
}
.TDescr{
    padding: 24px 55px 84px;
    margin: 0px auto ; 
}
.upper{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0px 55px 15px;    
}
.dnper{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 15px 55px 84px ; 
}
.pers{
    width: 168px;
    padding-bottom: 12px ;
    
}
.C1, .C2{
    padding: 0px 15px;
}
.L1, .L2{
    padding-right: 15px;
}
.R1, .R2{
    padding-left: 15px;
}
h3{
    color: #007765;
    font-size: 24px;
    font-weight: 700;
}
.TDescr span{
    font-size: 18px;
    text-align: center;
}